<% if logged_in? %>    
    <h1>タスクリスト一覧</h1>
    
    <ul>
        <% @task.each do |task| %>
            <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
            
        <% end %>
        
    </ul>
    
    <%= link_to '新規タスクの投稿', new_task_path %>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Please login at first</h1>
            <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<% end %>